In [27]:
import seaborn as sns
import pandas as pd

In [28]:
df=sns.load_dataset("tips")

In [29]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [30]:
# independent and dependent feature 
x=df[['tip','sex','smoker','day','time','size']]

In [31]:
y=df[['total_bill']]

In [32]:
x

      tip     sex smoker   day    time  size
0    1.01  Female     No   Sun  Dinner     2
1    1.66    Male     No   Sun  Dinner     3
2    3.50    Male     No   Sun  Dinner     3
3    3.31    Male     No   Sun  Dinner     2
4    3.61  Female     No   Sun  Dinner     4
..    ...     ...    ...   ...     ...   ...
239  5.92    Male     No   Sat  Dinner     3
240  2.00  Female    Yes   Sat  Dinner     2
241  2.00    Male    Yes   Sat  Dinner     2
242  1.75    Male     No   Sat  Dinner     2
243  3.00  Female     No  Thur  Dinner     2

[244 rows x 6 columns]

In [33]:
y

     total_bill
0         16.99
1         10.34
2         21.01
3         23.68
4         24.59
..          ...
239       29.03
240       27.18
241       22.67
242       17.82
243       18.78

[244 rows x 1 columns]

In [34]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [35]:
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler # feature scaling 
from sklearn.preprocessing import OneHotEncoder # categorical to numrical 
from sklearn.compose import ColumnTransformer

In [41]:
categorical_col=['sex','smoker','day','time']
numrical_col=['tip','size']

In [42]:
# feature enginering automatic 
# numrical pipline
num_pipline=Pipeline(
    [('imputer',SimpleImputer(strategy='median')),# missing value handal
           ('scaler',StandardScaler())# feature scaling
          ]
)

# categary pipline
cat_pipline=Pipeline(
    [('imputer',SimpleImputer(strategy='most_frequent')),# missing value handal
           ('onehotencoder',OneHotEncoder())
          ]
)

In [43]:
preprocessor=ColumnTransformer([("num_pipline",num_pipline,numrical_col),
                               ('cat_pipline',cat_pipline,categorical_col)])

In [44]:
X_train=preprocessor.fit_transform(X_train)
X_test=preprocessor.transform(X_test)

In [57]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import r2_score

In [58]:
# model traing automation
models={
    'Random Forest':RandomForestRegressor(),
    'logistic':LogisticRegression(),
    'linear':LinearRegression(),
    'DT':DecisionTreeRegressor()
}

In [59]:
def evaluate_model(X_train,X_test,y_test,y_train,models):
    report={}
    for i in range(len(models)):
        model=list(models.values())[i]
        #train model
        model.fit(X_train,y_train)
        #predict testing data
        y_test_pred=model.predict(X_test)
        #get accuracy for the the test data
        test_model_score=r2_score(y_test,y_test_pred)
        report[list(models.keys())[i]]=test_model_score
        return report

In [60]:
evaluate_model(X_train,X_test,y_test,y_train,models)

C:\Users\himan\AppData\Local\Temp\ipykernel_10628\1949693833.py:6: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(X_train,y_train)

{'Random Forest': 0.4124532138543897}